<%- include('partials/dochead') %>
<form class="form" action="/login" method="post">
    <p class="form-title">Log in to your account</p>
	<div class="input-container">
        <input type="email" placeholder="Enter email" name="email" />
		<span> </span>
	</div>
	<div class="input-container">
        <input type="password" placeholder="Enter password" name="password"/>
	</div>
	<button type="submit" class="submit">LogIn</button>
    
	<p class="signup-link">
        No account?
		<a href="/register">Register</a>
	</p>
</form>
<%- include('partials/docBottom') %>