<%- include('partials/dochead') %>
<form class="form" action="/register" method="post">
    <p class="form-title">Create your account</p>
	<div class="input-container">
        <input type="email" placeholder="Enter email" name="email" />
		<span> </span>
	</div>
	<div class="input-container">
        <input type="password" placeholder="Enter password" name="password" />
	</div>

	<button type="submit" class="submit">Create Account</button>
    
	<p class="signup-link">
        Already Have an account?
		<a href="/login">Login</a>
	</p>
</form>
<%- include('partials/docBottom') %>