<%- include('partials/dochead') %>
<form class="form">
    <p class="form-title">Create your account</p>
	<div class="input-container">
        <input type="email" placeholder="Enter email" />
		<span> </span>
	</div>
	<div class="input-container">
        <input type="password" placeholder="Enter password" />
	</div>
	<div class="input-container">
        <input type="password" placeholder="Confirm Your password" />
	</div>
	<button type="submit" class="submit">Sign in</button>
    
	<p class="signup-link">
        Already Have an account?
		<a href="/login">Login</a>
	</p>
</form>
<%- include('partials/docBottom') %>